body {
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1;
	color: #7a848c;
}

.headerhome {
	position: relative;
	background: #2c3d4f;
}

.contenido {
	position: absolute;
	z-index: 3;
	top: 90px;
	font-family: 'Permanent Marker', cursive, sans-serif;
	color: #fefefe;
}

.tituloXL {
	position: absolute;
	z-index: 3;
	top: 100px;
	left: 20%;
	right: 20%;
	font-family: 'Permanent Marker', cursive, sans-serif;
	color: #fefefe;
}

.my-nav {
	position: absolute;
	z-index: 3;
	background: transparent;
}

.navbar-nav a {
	color: #fefefe;
}

li {
	font-size: 1.2rem;
}

.hover li:hover {
	background-color: rgba(0, 0, 0, 0.16);
	border-radius: 5px;
}

.NHover li:hover {
	background-color: rgba(255, 252, 252, 0.20);
	border-radius: 25px;
	/*25*/
}

.bgc {
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 25px;
	color: #fff;
}

.navbar-nav .nav-item .bgcr {
	color: #24333f !important;
}

.bgcr {
	background-color: #fde67d;
	border-radius: 25px;
	font-weight: 600;
}

.bgcr:hover {
	background-color: rgba(255, 252, 252, 0.8);
	border-radius: 25px;
	/*rgba(255, 252, 252, 0.8)*/
}

.contenidocard {
	position: absolute;
	z-index: 3;
	top: 200px;
	left: 21%;
	right: 21%;
}

.cardb {
	background: none;
	width: 100px;
	border: 0;
	color: #fefefe;
	font-size: 1.2rem;
}

@media screen and (max-width:1024px) {
	.contenidocard {
		position: absolute;
		z-index: 3;
		top: 200px;
		left: 5%;
		right: 5%;
	}
}

@media screen and (max-width:1024px) {
	.cardb img {
		height: 50px;
	}
}

.my-card-slide {
	position: absolute;
	z-index: 3;
	top: 230px;
}

.cardb-n {
	background: none;
	border: 0;
	color: #fefefe;
}

.my-modal-header {
	color: #fff;
	background: url(../images/cursoDestacado__video-bottom.69bd0a99ba.svg) center bottom no-repeat #425d72;
	background-size: contain;
	border: 0px;
	text-align: center !important;

}

.my-modal-content {
	border-radius: 8px;
}


.fa-times {
	color: #ffffff !important;
}

.inputS {
	-webkit-box-shadow: 0px 5px 5px 0px rgba(213, 213, 213, 1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(213, 213, 213, 1);
	box-shadow: 0px 5px 5px 0px rgba(213, 213, 213, 1);
	background: #f3f3f3;
}

.my-btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	outline: 0;
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-box;
	display: inline-flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 40px;
	padding: 0 25px;
	border-radius: 20px;
	background: #26bfa2;
	font-size: 1.2rem;
	font-weight: 500;
	color: #fff !important;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.text {
	font-size: 1rem;
	font-weight: 400;
	color: #7a848c;
}

.modal-footer span {
	font-weight: 500;
	color: #fff;
}

.my-footer {
	background: #24b59a;
}

.custom-toggler.navbar-toggler {
	border-color: transparent;
	padding: 0;
}

.custom-toggler.navbar-toggler:focus {
	outline: 0px;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a:focus {
	outline: 0px;
}

.menuMovil {
	position: relative;
	width: 300px;
	margin: 50px auto 0;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .7);
	box-shadow: 0 0 20px rgba(0, 0, 0, .7);
}

.menuMovil .menuPrin {
	overflow: hidden;
	background: #26bfa2;
	border-radius: 8px 8px 0 0;
}

ol,
ul {
	list-style: none;
}

a,
li,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: 0 0;
	vertical-align: baseline;
}

.menuMovil .menuPrin__item {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.menuMovil .menuPrin__item a {
	display: block;
	padding: 10px;
	font-size: 1.3rem;
	text-align: center;
	font-weight: 500;
	color: #fff;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.menuMovil .menuPrin__item a:focus {
	outline: 0px;
}

a {
	outline: 0;
	text-decoration: none;
	color: #26bfa2;
}

.menuMovil .menuAcceso {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 15px 10px;
	background: #425d72;
	border-radius: 0 0 8px 8px;
}

.menuMovil .menuAcceso__item:first-child {
	margin-right: 6px;
}

.btn--blancoTransparente,
.btn--blancoTransparente-sombra {
	background: rgba(255, 255, 255, .15);
}

.btn--blancoTransparente,
.btn--amarilloClaro {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	outline: 0;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	height: 40px;
	padding: 0 25px;
	border-radius: 20px;
	font-size: 1.3rem;
	font-weight: 500;
	color: #fff !important;
	transition: all .3s ease;
}

.btn--amarilloClaro {
	background: #fde67d;
	color: #24333f !important;
}

.btn-cerrar {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	outline: 0;
	position: absolute;
	top: -25px;
	right: -25px;
	padding: 0;
	background: 0 0;
	font-size: 1.5rem;
	/*font-size: 2.5rem;*/
	color: #fff;
}

button {
	cursor: pointer !important;
}

.btn-cerrar span {
	display: none;
}

.popUp--formuRegistro {
	width: 600px;
}

.popUp,
.popUp--formuRegistro {
	display: block;
	position: relative;
	margin: 50px auto 0;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .7);
	box-shadow: 0 0 20px rgba(0, 0, 0, .7);
}

.popUp__header {
	padding: 25px 30px 40px;
	border-radius: 8px 8px 0 0;
	background: url(assest/images/cursoDestacado__video-bottom.69bd0a99ba.svg) center bottom no-repeat #425d72;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	text-align: center;
}

.popUp__header p {
	font-size: 1.7rem;
	line-height: 2.1rem;
	font-weight: 500;
	color: #fff;
}


article {
	background: red;
	width: 40%;
	padding: 20px;
	position: relative;
}

article:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	height: 40px;
	width: 100%;
	background: url(../images/cursoDestacado__video-bottom.69bd0a99ba.svg) bottom center yellow;
	background-size: 150%;
}

article::before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 0;
	height: 120px;
	width: 100%;
	background: url(../images/s8.jpg) top center red;
	background-size: 100%;
	border: 0px;
	border-color: transparent;
}

.adornoSandI::before {
	content: '';
	position: absolute;
	width: calc(100% + 48px);
	left: 50%;
	margin-left: calc(-50% - 24px);
	border: 0px;
	border-color: transparent;
}

.adornoSandI::after {
	content: '';
	position: absolute;
	width: calc(100% + 48px);
	left: 50%;
	margin-left: calc(-50% - 24px);
	border: 0px;
	border-color: transparent;
}

.adornoSandI::before {
	height: 50px;
	top: -49px;
	background: url(../images/corbatin-top-internas.3d0e12296f.svg) center bottom no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	border: 0px;
	border-color: transparent;
}

.adornoSandI::after {
	height: 35px;
	bottom: -34px;
	background: url(../images/corbatin-internas-bottom.42b188737b.svg) center top no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	border: 0px;
	border-color: transparent;
}

.adornoSandI {
	color: #26bfa2;
	background: #fff;
	width: 100%;
	border: 0px;
	border-color: transparent;
}

.contenidoI h2 {

	font-size: 2.2rem;
	font-weight: 700;
	color: #26bfa2;
	border: 0px;
	border-color: transparent;
}

.contenidoI p {
	font-size: 1.3rem;
	line-height: 1.5rem;
	border: 0px;
	border-color: transparent;
}

@media only screen and (max-width: 768px) {
	.contenidoI h2 {
		font-size: 1.9rem;
		border: 0px;
		border-color: transparent;
	}
}

@media only screen and (max-width: 768px) {
	.contenidoI p {
		color: #7a848c;
		font-size: 0.8rem;
		border: 0px;
		border-color: transparent;
	}
}

@media only screen and (max-width: 768px) {
	.adornoSandI {
		width: auto;
		margin-left: 15px;
		margin-right: 15px;
		border: 0px;
		border-color: transparent;
	}
}

@media only screen and (max-width: 480px) {
	.adornoSandI {
		margin-left: 7px;
		margin-right: 7px;
		border: 0px;
		border-color: transparent;
	}
}

@media only screen and (max-width: 1199px) {
	.adornoSandI {
		width: 100%;
		left: 0;
		margin-left: 0;
		border: 0px;
		border-color: transparent;
	}
}

@media only screen and (max-width: 768px) {
	.adornoSandI {
		width: auto;
		margin-left: 15px;
		margin-right: 15px;
		border: 0px;
		border-color: transparent;
	}
}

.adornoSandI {
	position: relative;
	z-index: 10;
	padding: 0;
	border: 0px;
	border-color: transparent;
}

.contenidoI {
	border: 0px;
	border-color: transparent;
}

div,
section {
	border: 0px;
	border-color: transparent;
}

.adornoSandI {
	z-index: 11;
}

.fondogris {
	padding-bottom: 100px;
}

.fondogris {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #ebeff2;
	overflow: hidden;
}

.sticky-top {
	background: url(../images/bg-menu-stick.d55771b122.jpg) center center no-repeat #3c5568;
	height: 80px;

}


.my-cards {
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.28);
	box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.28);
}

.colort span {
	font-weight: 400;
	color: #425d72;
	font-size: 1.2rem;
}

.btn-cap {
	white-space: nowrap;
	padding: 0 12px;
	border-radius: 5px;
	font-weight: 500;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	outline: 0;
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-box;
	display: inline-flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 40px;
	padding: 0 25px;
	border-radius: 20px;
	background: #26bfa2;
	font-size: 1.2rem;
	font-weight: 500;
	color: #fff !important;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.my-cards::after {
	content: '';
	position: absolute;
	height: 30px;
	bottom: -25px;
	background: url(../images/cursoDestacado-bottom.e6662f6958.svg) center top no-repeat rgba(0, 0, 0, 0);
	;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;

}

.my-cards::after {
	width: 94.7%;
	display: block;
}

.custom-navbar-brand {
	margin-right: 0 !important;
}

@media screen and (min-width:768px) and (max-width:1023px) {
	.headerhome {
		height: 400px;
	}
}

.carousel-item.active {
	display: flex !important;
}

.l-main-decorar--corbatin-internas:after,
.l-main-decorar--corbatin-internas:before,
.l-main-decorar--corbatin:after,
.l-main-decorar--corbatin:before,
.l-main-decorar--ziczac:after,
.l-main-decorar--ziczac:before,
.l-main-decorar--ziczacTopBlanco:after,
.l-main-decorar--ziczacTopBlanco:before,
.l-main-decorar--ziczacTopGris:after,
.l-main-decorar--ziczacTopGris:before,
.l-main-decorar--ziczacTopGrisClaro:after,
.l-main-decorar--ziczacTopGrisClaro:before,
.l-main-decorar:after,
.l-main-decorar:before {
	content: '';
	position: absolute;
	width: calc(100% + 48px);
	left: 50%;
	margin-left: calc(-50% - 24px);
}

.l-main-decorar--ziczac:before {
	height: 35px;
	top: -34px;
	background: url(../images/ziczac-top.1171f8e745.svg) center bottom no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
}

.l-main-decorar--ziczac {
	position: relative;
	z-index: 10;
	padding: 0;
}

@media only screen and (max-width: 1199px) {

	.l-main-decorar--corbatin-internas:after,
	.l-main-decorar--corbatin-internas:before,
	.l-main-decorar--corbatin:after,
	.l-main-decorar--corbatin:before,
	.l-main-decorar--ziczac:after,
	.l-main-decorar--ziczac:before,
	.l-main-decorar--ziczacTopBlanco:after,
	.l-main-decorar--ziczacTopBlanco:before,
	.l-main-decorar--ziczacTopGris:after,
	.l-main-decorar--ziczacTopGris:before,
	.l-main-decorar--ziczacTopGrisClaro:after,
	.l-main-decorar--ziczacTopGrisClaro:before,
	.l-main-decorar:after,
	.l-main-decorar:before {
		width: 100%;
		left: 0;
		margin-left: 0;
	}
}

@media only screen and (max-width: 1050px) and (min-width: 992px) {
	.l-main-decorar--ziczac:before {
		background: url(../images/ziczac-top-970.afbfbbffa0.svg) center bottom no-repeat;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
	}


}

@media only screen and (max-width: 768px) {
	.l-main-decorar--ziczac:before {
		top: -33px;
		background: url(../images/ziczac-top-768.f450a83681.svg) center bottom no-repeat;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
	}
}

@media only screen and (max-width: 480px) {
	.l-main-decorar--ziczac:before {
		top: -33px;
		background: url(../images/ziczac-top-480.d5d9aaddeb.svg) center bottom no-repeat;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
	}
}



.fcolor {
	background-color: #fff;
}

.l-main-decorar--ziczac .encabezadoSeccion {
	padding: 20px 20px 10px;

}

.listaIconos__item {
	position: relative;
	padding-left: 80px;
}


.listaIconos__item {
	margin-right: 0;
	margin-bottom: 35px;
}

.icon-footprint:before {
	content: '';
	background: url(../images/estudiar.svg);
}

.icon-helpprint:before {
	content: '';
	background: url(../images/ayudar.svg);
}

.icon-videoprint:before {
	content: '';
	background: url(../images/imagenes.svg);
}

.listaIconos__item:before {
	position: absolute;
	left: 10px;
	top: 5px;
}

.listaIconos__item:before {
	height: 60px;
	width: 60px;
	background-size: contain;
}


.listaIconos__titulo {
	margin-bottom: 14px;
	font-size: 1.5rem;
	font-weight: 600;
	color: #425d72;
}

.listaIconos__p {
	line-height: 1.5rem;
}

p {
	margin-bottom: 1rem;
	font-size: 1rem;
}


.l-main-decorar--corbatin-internas .encabezadoSeccion2,
.l-main-decorar--ziczac .encabezadoSection {
	padding: 20px 20px 10px;
}


.customrow {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.l-main-decorar--ziczac:after {
	height: 35px;
	bottom: -34px;
	background: url(../images/ziczac-bottom.104c9b8c55.svg) center top no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
}



@media only screen and (max-width: 1050px) and (min-width: 992px) {
	.l-main-decorar--ziczac:after {
		background: url(../images/ziczac-bottom-970.adf52df14c.svg) center top no-repeat;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
	}
}

@media only screen and (max-width: 480px) {
	.l-main-decorar--ziczac:after {
		background: url(../images/ziczac-bottom-480.75d4840ecc.svg) center top no-repeat;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
	}
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
	.l-main-decorar--ziczac:after {
		background: url(../images/ziczac-bottom-768.ee11cc0da7.svg) center top no-repeat;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
	}
}

@media only screen and (max-width: 768px)and (min-width: 376px) {
	.size h1 {
		font-size: 1.8rem
	}
}

@media only screen and (max-width: 375px) {
	.size h1 {
		font-size: 1.1rem
	}
}

.testimonio__item {
	padding: 20px 0;
	margin-bottom: 10px;
}

.l-main-contenedorDark {
	padding-top: 85px;
	padding-bottom: 85px;
	border-bottom: 7px solid #374d5e;
	background: url(../images/bg-mountain.253cd9735f.svg) center bottom no-repeat #425d72;
	overflow: hidden;
}

.g-contenedor-full {
	display: box;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-moz-box-align: start;
	-o-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 100%;
}

.g-contenedor-full,
.g-top {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
}

.l-main-contenedorDark .encabezadoSeccion {
	padding: 0 20px;
	margin-bottom: 45px;
}

.l-main-contenedorDark .encabezadoSeccion h2 {
	margin-bottom: 0;
	color: #03ffce;
}

.l-footer-testimonios {
	width: 100%;
	max-width: 844px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.testimonio__detalle {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	margin-bottom: 10px;
}

.testimonio__img {
	position: relative;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-o-box-flex: 0;
	box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	width: 108px;
	margin-right: 50px;
	-webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, .2);
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, .2);
	border: 4px solid #fff;
	border-radius: 50%;
}

.testimonio--dark .testimonio__p {
	color: #fff;
}

.testimonio__p {
	font-size: 1.1rem;
	line-height: 1.8rem;
	font-weight: 400;
	font-style: italic;
}

.testimonio__footer {
	margin-left: 158px;
}

.mfp-close,
.testimonio__footer cite {
	font-style: normal;
}

.testiminio__nombre {
	margin-bottom: 5px;
	font-size: 1rem;
	font-weight: 400;
}

.testiminio__nombre,
.testimonio__fuente {
	display: block;
}

.testimonio--dark .testimonio__footer cite a {
	color: #03ffce;
}

.testimonio--dark .testimonio__fuente {
	color: #7cafd7;
	font-size: 1rem
}

@media only screen and (max-width: 480px) {
	.testimonio__footer {
		margin-left: 0;
		text-align: center;
	}
}

@media only screen and (max-width:767px) {
	.margin {
		margin-left: 9rem;

	}

	.testimonio__p {
		text-align: center;
	}
}

@media only screen and (max-width:375px) {
	.margin {
		margin-left: 7rem;

	}

}

@media only screen and (max-width:320px) {
	.margin {
		margin-left: 6rem;

	}

}

.carousel-indicators li {
	width: 15px;
	height: 15px;
	margin-right: 0.6rem;
	margin-left: 0.6rem;
	border-radius: 100%;
}

.carousel-indicators {
	top: 100%;
}

.l-main-contenedorDark2 {
	position: relative;
	padding-top: 55px;
	padding-bottom: 45px;
	background: #2f4154;
}

/* Seccion de Footer*/
@media only screen and (min-width: 1200px) {

	.l-menu-footer,
	.l-menu-footer--2 {
		max-width: 988px;
	}
}

@media only screen and (min-width: 1200px) {

	.g-contenedor,
	.g-contenedor--comentarios {
		display: -webkit-box;
		display: -moz-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: box;
		display: flex;
		-webkit-box-lines: multiple;
		-moz-box-lines: multiple;
		-o-box-lines: multiple;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 992px) {

	.g-contenedor,
	.g-contenedor--comentarios {
		display: -webkit-box;
		display: -moz-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: box;
		display: flex;
		-webkit-box-lines: multiple;
		-moz-box-lines: multiple;
		-o-box-lines: multiple;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%;

		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 769px) {

	.g-contenedor,
	.g-contenedor--comentarios {
		display: -webkit-box;
		display: -moz-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: box;
		display: flex;
		-webkit-box-lines: multiple;
		-moz-box-lines: multiple;
		-o-box-lines: multiple;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

.l-main-contenedorDark2__triangulo:before {
	position: absolute;
	top: -32px;
	left: 49.4%;
	margin-left: -32.5px;
	/*font-size: 65px;*/
	z-index: 10;
}

.l-main-contenedorDark2__triangulo:before {
	height: 65px;
	width: 68px;
	background-size: contain
}

.l-main-contenedorDark2__triangulo:before {
	content: '';
	background: url(../images/NuevoLogo.png)
}

.l-main-contenedorDark2__triangulo:after {
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 50%;
	margin-left: -75px;
	border-top: 44px solid #374d5e;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
}

.l-main-contenedorDark2__triangulo:after,
.l-main-idea__contenido .bombillo-icon,
.l-main-seperadorBolas:before {
	display: block;
	content: '';
}

.l-footer-separador:before {
	position: absolute;
	display: block;
	content: '';
	width: 1px;
	height: 80%;
	top: 10%;
	right: 0;
	background: #394f66;
}

.l-footer-separador {
	position: relative;
}

.l-footer-novedades {
	width: 50%;
	padding-right: 154px;
}

.tituloFooter {
	margin-bottom: 20px;
	font-size: 1.2rem;
	font-weight: 400;
	color: #00ffce;
}

.parrafoFooter {
	line-height: 1.1rem;
	font-weight: 400;
	color: #6f9cbf;
}

/* form*/
.campo-icon,
.campo-iconDark {
	position: relative;
}

.formNovedades__campo {
	margin-bottom: 10px;
}

.campo-iconDark:before {
	color: #729ecc;
}

.campo-icon:before,
.campo-iconDark:before {
	position: absolute;
	top: 50%;
	left: 13px;
	margin-top: -10px;
	color: #7a848c;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.icon-envelop5:before {
	content: '';
	background: url(../images/envelope.svg)
}

.icon-envelop5:before {
	width: 20px;
	height: 20px;
	background-size: contain
}


.campo-iconDark .campo-formDark {
	padding-left: 46px;
}

.colorText h3 {
	color: #00ffce;
}

.campo-form,
.campo-form--blanco,
.campo-form--textarea,
.campo-form--textarea-h170,
.campo-form--textareaBlanco-h170,
.campo-form-select,
.campo-form-select--blanco,
.campo-formDark {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 40px;
	padding: 0 13px;
	-webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, .16);
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, .16);
	border: 1px solid rgba(0, 0, 0, .05);
	outline: 0;
	border-radius: 5px;
	background: #f3f3f3;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 40px;
	color: #9a9a9a;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.campo-formDark {
	border: 1px solid rgba(0, 0, 0, .3);
	background: #394f66;
	color: #729ecc;
}

.btn-form--amarilloClaro-sombra.icon,
.btn-form--amarilloClaro.icon,
.btn-form--blancoTransparente.icon,
.btn-form--dark.icon,
.btn-form--dark2.icon,
.btn-form--loading-gris.icon,
.btn-form--loading.icon,
.btn-form.icon {
	position: relative;
	padding-right: 45px;
}

.btn-form--dark {
	-webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, .2);
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, .2);
	background: #23b096;
}

.btn-accion3,
.btn-form,
.btn-form--amarilloClaro,
.btn-form--amarilloClaro-sombra,
.btn-form--blancoTransparente,
.btn-form--dark,
.btn-form--dark2,
.btn-form--loading,
.btn-form--loading-gris {
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.btn--blancoTransparente-sombra,
.btn--gratis,
.btn--icon,
.btn--icon-2,
.btn--icon-2-dark,
.btn--precio,
.btn-accion2,
.btn-accion2--amarilloClaro,
.btn-accion3,
.btn-bg,
.btn-form,
.btn-form--amarilloClaro,
.btn-form--amarilloClaro-sombra,
.btn-form--blancoTransparente,
.btn-form--dark,
.btn-form--dark2,
.btn-form--loading,
.btn-form--loading-gris,
.btn-md,
.btn-md--gris {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	outline: 0;
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-box;
	display: inline-flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 40px;
	width: 170px;
	padding: 0 25px;
	border-radius: 20px;
	background: #26bfa2;
	font-size: 1.2rem;
	font-weight: 500;
	color: #fff !important;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

button,
input,
select,
textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}

.campo-formDark::placeholder {
	color: #729ecc
}

.fondofooter {
	padding: 20px 0;
	background: #24b398;
}

.l-footer-copyright p {
	font-size: 1.3rem;
	font-weight: 500;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

@media only screen and (max-width: 480px) {

	.l-menu-footer,
	.l-menu-footer--2 {
		max-width: none;
		padding-right: 20px;
		padding-left: 20px;
	}
}

@media only screen and (max-width: 768px) {

	.l-menu-footer,
	.l-menu-footer--2 {
		-webkit-box-pack: justify;
		-moz-box-pack: justify;
		-o-box-pack: justify;
		-ms-flex-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-box-lines: multiple;
		-moz-box-lines: multiple;
		-o-box-lines: multiple;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 480px) {

	.l-footer-novedades {
		width: 50%;
		padding-right: 0;
	}
}

@media only screen and (max-width: 1023px) {

	.l-footer-separador:before {
		display: none;
	}

}

.spacefooter {
	margin-left: 7rem;
}

@media only screen and (max-width: 768px) {
	.spacefooter {
		margin-left: 0;
		font-size: 1.2rem;
	}

	.spacetop {
		margin-top: 20px;
	}

}

@media only screen and (max-width: 768px) {
	.l-footer-copyright p {
		font-size: 1rem;
	}

}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c9c8c8' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c9c8c8' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

/* MENU para usuario*/
.menuUser {
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	margin-top: 20px;
}

.menuUser .menuUser__img {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: auto;
	margin-left: 15px;
	cursor: pointer;
}

.menuUser .menuUser__img img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
}

.menuUser .menuUser__img p {
	color: #fff;
}

.colorv {
	font-weight: 400;
	color: #26bfa2 !important;
}

.colorb {
	font-weight: 400;
	color: #fff;
}

.dropdown-toggle::after {
	color: white;
	margin-bottom: 15px;
}

.cursoDestacado__video {
	position: relative;
	overflow: hidden;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
}

.cursoDestacado__video:after,
.cursoDestacado__video:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
}

.cursoDestacado__video:after {
	z-index: 10;
	height: 50px;
	bottom: -1px;
	background: url(../images/cursoDestacado__video-bottom.69bd0a99ba.svg) left bottom no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
}

.cursoDestacado__video .filtro {
	display: block;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	border-radius: 5px 5px 0 0;
	/*background: rgba(38, 191, 162, .7);*/
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.colorfiltro1 {
	background: rgba(38, 191, 162, .7);
}

.colorfiltro2 {
	background: rgba(243, 29, 97, .7);
}

.colorfiltro3 {
	background: rgba(43, 102, 255, .6);
}

.colorfiltro4 {
	background: rgba(150, 76, 182, .7);
}

.cursoDestacado__video .filtro:hover {
	background: transparent;
}

a:link {
	text-decoration: none;
}

/* tamaño de las card*/
.modiftamcard {
	height: 176px;
}

/*LETRA PARA TEMA*/
.titulotema {
	position: absolute;
	z-index: 3;
	top: 200px;
	left: 20%;
	right: 20%;
	font-family: 'Permanent Marker',
		cursive,
		sans-serif;
	color: #fefefe;
}

/*boton amarillo*/

.btn-accion2,
.btn-accion2--amarilloClaro {
	height: 50px;
	-webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, .2);
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, .2);
	border-radius: 25px;
	font-weight: 700;
	font-style: italic;
}

.btn-accion2--amarilloClaro {
	background: #fff586;
	color: #374d5e !important;
	font-size: 0.8rem;
	width: 180px;
}

.navbar-nav .nav-item a.activado {
	background: rgba(0, 0, 0, .17);
	color: #00ffce;
}

.navbar-nav .nav-item a.activadot {
	background: rgba(0, 0, 0, .17);
	color: #00ffce;
}

.menuPrin .menuPrin__item a.activado {
	background: #00ffce;
	color: #24333f;
}

.menuPrin .menuPrin__item a.activadot {
	background: #00ffce;
	color: #24333f;
}

.contenidoTema {
	position: absolute;
	z-index: 3;
	top: 150px;
	right: 0;
	left: 0;
	color: #fefefe;
}

.contenedorReproductor {
	padding: 5px;
	background: #fff;
	-webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, .25);
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, .25);
}

@media only screen and (min-width: 1301px) {
	.imgc {
		height: 300px;
	}

}

@media only screen and (max-width: 1300px) {
	.imgc {
		height: 190px;
	}

}

@media only screen and (min-width: 1800px) {
	.contenidoTema {
		top: 350px;
	}

}

.textoTema {
	font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
	.textoTema {
		font-size: 0.9rem;
	}

}

@media only screen and (max-width: 374px) {
	.imgc {
		height: 110px;
	}
}

@media only screen and (max-width: 991px) and (min-width: 450px) {
	.textoTema {
		font-size: 1.2rem;
	}
}

.mparrproblem {
	margin-right: 200px;
	margin-left: 200px;
	line-height: 1.3rem;
}

@media only screen and (max-width: 1023px) {
	.mparrproblem {
		margin-right: 0;
		margin-left: 0;
	}
}


.mxcausas {
	margin-left: 0rem;
	margin-right: 3rem;
}
.mxconsec{
	margin-left: 3rem;
	margin-right: 0rem;
}



.cardCF {
	background-color: #26bfa2;
	-webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, .16);
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, .16);
	cursor: pointer;
	height: 250px;
	color: #fff;
}

@media only screen and (max-width:1023px) {
	.mxcausas {
		margin-left: 0;
		margin-right: 0;
	}
	.mxconsec {
		margin-left: 0;
		margin-right: 0;
	}

	.linea:before {
		display: none;
	}

}


.btnCausaVerMas {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 40px;
	padding: 0 5px;
	-webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, .1);
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, .1);
	border: 1px solid #263542;
	background: #2f4352;
	font-weight: 500;
	font-size: 1.4rem;
	color: #00ffce;
	transition: all .2s ease;
	border-radius: 5px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
}

.linea:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	right: 570px;
	background: #dae3eb;
}
.colorDetalle{
	color: #fff;
}
.sizeLine{
	height: 180px;
	width: 100%;

}
.sizeArrow {
	height: 60px;
	width: 100%;
}

.l-main-decorar--ziczacTopGris{
	position: relative;
	z-index: 10;
	padding: 0;
}
.l-main-decorar--ziczacTopGris:before{
	content: '';
	position: absolute;
	width: calc(100% + 48px);
	left: 50%;
	margin-left: calc(-50% - 24px);
}

.l-main-decorar--ziczacTopGris:before {
	height: 30px;
	top: -86px;
	background: url(../images/ziczac-top-gris.c5c1646298.svg) center top no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
}

.colorEncabezado{
	color: #26bfa2;
}

.contenidoTG {
	position: absolute;
	z-index: 3;
	top: 250px;
	font-family: 'Permanent Marker', cursive, sans-serif;
	color: #fefefe;
	left: 150px;
	line-height: 5rem;
}
@media only screen and (max-width:1023px){

.contenidoTG {
	left: 0;
	line-height: 1rem;
}

}
/*circulos*/
.circulo{
	background: #fff;
	border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: #425d72;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-right: 15px;
	text-align: center;
	width: 1.6em;
	font-size: 4rem;
}
.parrafConsejo{
	border-radius: 2rem;
	-moz-border-radius: 2rem;
	-webkit-border-radius: 0.9rem;
	background: #fff;
	-webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, .16);
	-moz-box-shadow: 0 5px 0 0 rgba(0, 0, 0, .16);
	box-shadow: 0 5px 0 0 rgba(0, 0, 0, .16);
}
.parrafConsejo p {

	font-size: 1.2rem;
}
@media only screen and (max-width:768px){
.parrafConsejo p {
	font-size: 0.8rem;
}

.circulo {
	font-size: 2rem;
}
}

.textoTamaño p{
	font-size: 1.5rem;
	font-family: sans-serif;
	font-style:italic;
}
.textoTamaño h2 {
	font-size: 3rem;
}

@media only screen and (max-width:768px){
	.textoTamaño p {
		font-size: 1.2rem;
		font-family: sans-serif;
		font-style: italic;
	}

	.textoTamaño h2 {
		font-size: 2rem;
	}
}
 
